<section id="sobremi" class="flex justify-around items-center h-screen max-[768px]:flex-col-reverse max-[768px]:justify-center max-[768px]:gap-3">
    <div>
        <h1 class="text-4xl flex flex-col font-bold">
            <span class="text-xl font-normal text-[#FC6168]">Hey, soy</span>
            Alejandro Ameneyro
        </h1>
    </div>
    <div class="imgContainer flex justify-center items-center h-48 w-48 relative">
        <img src="./public/Group 6.png" alt="AlexxScript">
    </div>
</section>