---
const currentYear = new Date().getFullYear()
---

<footer class="bg-black p-5 mt-10">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
        <div class="mb-4 md:mb-0">
            <p>&copy; { currentYear } Alejandro Ameneyro.</p>
        </div>
        <div class="mb-4 md:mb-0">
            <a href="mailto:tu-email@example.com" class="mr-4">tu-email@example.com</a>
            <a href="https://www.linkedin.com/in/alejandro-ameneyro" class="mr-4">LinkedIn</a>
            <a href="https://github.com/tu-usuario" class="mr-4">GitHub</a>
        </div>
        <div>
            <a href="ruta-a-tu-cv.pdf" class="btn btn-primary">Descargar CV</a>
        </div>
    </div>
</footer>