---
interface Props {
    href: string
    download?:string
}

const { href, download } = Astro.props
---
<li class="w-auto">
    <a href={href} download={download} target="_blank" class="flex text-sm flex-col justify-center items-center gap-1 hover:border-[#FC6168] hover:text-[#FC6168] duration-200">
        <slot/>
    </a>
</li>
