---
import LinkButtonHeader from "./LinkButtonHeader.astro";
---

<header class="fixed top-0 w-[100vw] bg-[#1e1e1e] border-b-2 border-[#2e2e2e] z-10">
    <nav
        class="flex justify-between items-center max-w-[80vw] w-full mx-auto h-[70px]"
    >
        <a href="/">
            <svg class="h-[50px]" viewBox="0 0 588 150" fill="none">
                <path
                    d="M250.885 58.8H261.28L279.515 105H268.35L264.99 95.725H247.21L243.815 105H232.615L250.885 58.8ZM250.71 86.555H261.525L256.17 71.4H256.065L250.71 86.555ZM293.885 105H283.21V56.84H293.885V105ZM309.215 92.89C309.285 93.9167 309.611 94.8267 310.195 95.62C310.778 96.4133 311.583 97.0433 312.61 97.51C313.66 97.9533 314.896 98.175 316.32 98.175C317.673 98.175 318.886 98.035 319.96 97.755C321.056 97.475 322.001 97.125 322.795 96.705C323.611 96.285 324.241 95.8533 324.685 95.41L328.815 101.99C328.231 102.62 327.403 103.238 326.33 103.845C325.28 104.428 323.891 104.907 322.165 105.28C320.438 105.653 318.256 105.84 315.62 105.84C312.446 105.84 309.623 105.245 307.15 104.055C304.676 102.865 302.728 101.115 301.305 98.805C299.881 96.495 299.17 93.6717 299.17 90.335C299.17 87.535 299.776 85.015 300.99 82.775C302.226 80.5117 304.011 78.7267 306.345 77.42C308.678 76.09 311.49 75.425 314.78 75.425C317.906 75.425 320.613 75.9967 322.9 77.14C325.21 78.2833 326.983 79.9867 328.22 82.25C329.48 84.49 330.11 87.29 330.11 90.65C330.11 90.8367 330.098 91.21 330.075 91.77C330.075 92.33 330.051 92.7033 330.005 92.89H309.215ZM320.1 87.325C320.076 86.5783 319.878 85.8433 319.505 85.12C319.131 84.3733 318.571 83.7667 317.825 83.3C317.078 82.81 316.121 82.565 314.955 82.565C313.788 82.565 312.796 82.7983 311.98 83.265C311.186 83.7083 310.58 84.2917 310.16 85.015C309.74 85.7383 309.506 86.5083 309.46 87.325H320.1ZM355.974 89.565L368.189 105H356.394L349.604 96.145L342.814 105H331.824L344.004 90.405L333.049 76.265H344.949L350.269 83.65L355.834 76.265H366.614L355.974 89.565ZM394.05 89.565L406.265 105H394.47L387.68 96.145L380.89 105H369.9L382.08 90.405L371.125 76.265H383.025L388.345 83.65L393.91 76.265H404.69L394.05 89.565ZM427.261 57.96C430.131 57.96 432.64 58.275 434.786 58.905C436.933 59.535 438.66 60.2 439.966 60.9C441.273 61.6 442.066 62.0667 442.346 62.3L437.306 70.735C436.933 70.455 436.291 70.0467 435.381 69.51C434.495 68.9733 433.433 68.495 432.196 68.075C430.983 67.655 429.711 67.445 428.381 67.445C426.585 67.445 425.126 67.7717 424.006 68.425C422.91 69.055 422.361 70 422.361 71.26C422.361 72.1233 422.653 72.905 423.236 73.605C423.843 74.2817 424.753 74.935 425.966 75.565C427.203 76.1717 428.766 76.8367 430.656 77.56C432.383 78.19 434.005 78.9367 435.521 79.8C437.038 80.6633 438.368 81.69 439.511 82.88C440.678 84.0467 441.6 85.4 442.276 86.94C442.953 88.48 443.291 90.23 443.291 92.19C443.291 94.5233 442.813 96.5533 441.856 98.28C440.9 99.9833 439.593 101.395 437.936 102.515C436.303 103.635 434.436 104.463 432.336 105C430.26 105.56 428.101 105.84 425.861 105.84C422.688 105.84 419.841 105.478 417.321 104.755C414.825 104.032 412.806 103.25 411.266 102.41C409.726 101.57 408.805 101.01 408.501 100.73L413.716 91.945C413.996 92.155 414.533 92.4933 415.326 92.96C416.143 93.4267 417.135 93.9167 418.301 94.43C419.468 94.92 420.705 95.34 422.011 95.69C423.341 96.04 424.648 96.215 425.931 96.215C428.078 96.215 429.688 95.8067 430.761 94.99C431.835 94.15 432.371 93.0533 432.371 91.7C432.371 90.6967 432.033 89.7983 431.356 89.005C430.68 88.2117 429.665 87.465 428.311 86.765C426.958 86.0417 425.266 85.2833 423.236 84.49C421.206 83.6733 419.305 82.6817 417.531 81.515C415.781 80.3483 414.358 78.89 413.261 77.14C412.165 75.39 411.616 73.22 411.616 70.63C411.616 68.04 412.34 65.8 413.786 63.91C415.256 61.9967 417.181 60.5267 419.561 59.5C421.965 58.4733 424.531 57.96 427.261 57.96ZM465.206 97.475C466.536 97.475 467.633 97.2533 468.496 96.81C469.36 96.3433 469.943 95.97 470.246 95.69L475.111 102.9C474.738 103.203 474.096 103.6 473.186 104.09C472.276 104.557 471.133 104.965 469.756 105.315C468.403 105.665 466.851 105.84 465.101 105.84C461.811 105.84 458.918 105.222 456.421 103.985C453.925 102.725 451.976 100.952 450.576 98.665C449.2 96.3783 448.511 93.695 448.511 90.615C448.511 87.5117 449.2 84.8283 450.576 82.565C451.976 80.3017 453.925 78.5517 456.421 77.315C458.918 76.055 461.811 75.425 465.101 75.425C466.828 75.425 468.368 75.6117 469.721 75.985C471.098 76.335 472.253 76.7433 473.186 77.21C474.12 77.6533 474.773 78.0383 475.146 78.365L470.176 85.645C470.013 85.4817 469.71 85.2483 469.266 84.945C468.846 84.6417 468.298 84.3733 467.621 84.14C466.945 83.9067 466.14 83.79 465.206 83.79C464.063 83.79 462.99 84.0817 461.986 84.665C461.006 85.2483 460.213 86.0533 459.606 87.08C459 88.1067 458.696 89.285 458.696 90.615C458.696 91.945 459 93.135 459.606 94.185C460.213 95.2117 461.006 96.0167 461.986 96.6C462.99 97.1833 464.063 97.475 465.206 97.475ZM489.166 105H478.526V76.265H489.166V80.71H488.991C489.178 80.1733 489.633 79.4967 490.356 78.68C491.079 77.84 492.094 77.0933 493.401 76.44C494.708 75.7633 496.306 75.425 498.196 75.425C499.526 75.425 500.751 75.635 501.871 76.055C502.991 76.4517 503.808 76.8367 504.321 77.21L500.191 85.855C499.864 85.4583 499.281 85.05 498.441 84.63C497.624 84.1867 496.598 83.965 495.361 83.965C493.938 83.965 492.759 84.3267 491.826 85.05C490.916 85.7733 490.239 86.6483 489.796 87.675C489.376 88.7017 489.166 89.67 489.166 90.58V105ZM507.54 105V76.265H518.18V105H507.54ZM513 70.35C511.32 70.35 509.897 69.7667 508.73 68.6C507.563 67.41 506.98 65.9983 506.98 64.365C506.98 62.7317 507.563 61.32 508.73 60.13C509.92 58.9167 511.343 58.31 513 58.31C514.097 58.31 515.1 58.59 516.01 59.15C516.92 59.6867 517.655 60.41 518.215 61.32C518.775 62.23 519.055 63.245 519.055 64.365C519.055 65.9983 518.46 67.41 517.27 68.6C516.08 69.7667 514.657 70.35 513 70.35ZM535.975 119.56H525.44V76.265H536.08V80.465C536.407 79.8117 537.025 79.1 537.935 78.33C538.869 77.5367 540.047 76.86 541.47 76.3C542.917 75.7167 544.55 75.425 546.37 75.425C549.17 75.425 551.562 76.1133 553.545 77.49C555.552 78.8667 557.092 80.71 558.165 83.02C559.239 85.3067 559.775 87.85 559.775 90.65C559.775 93.45 559.204 96.005 558.06 98.315C556.917 100.602 555.307 102.433 553.23 103.81C551.177 105.163 548.75 105.84 545.95 105.84C543.944 105.84 542.229 105.49 540.805 104.79C539.405 104.067 538.297 103.273 537.48 102.41C536.687 101.523 536.185 100.835 535.975 100.345V119.56ZM549.38 90.65C549.38 89.3433 549.089 88.1767 548.505 87.15C547.922 86.1 547.129 85.2833 546.125 84.7C545.145 84.0933 544.037 83.79 542.8 83.79C541.517 83.79 540.362 84.0933 539.335 84.7C538.332 85.2833 537.539 86.1 536.955 87.15C536.372 88.1767 536.08 89.3433 536.08 90.65C536.08 91.9567 536.372 93.135 536.955 94.185C537.539 95.2117 538.332 96.0167 539.335 96.6C540.362 97.1833 541.517 97.475 542.8 97.475C544.037 97.475 545.145 97.1833 546.125 96.6C547.129 96.0167 547.922 95.2117 548.505 94.185C549.089 93.135 549.38 91.9567 549.38 90.65ZM562.709 76.265H567.609V64.47H578.144V76.265H584.584V85.015H578.144V93.03C578.144 94.22 578.319 95.1883 578.669 95.935C579.019 96.6583 579.66 97.02 580.594 97.02C581.224 97.02 581.76 96.88 582.204 96.6C582.647 96.32 582.915 96.1333 583.009 96.04L586.649 103.6C586.485 103.74 585.972 103.997 585.109 104.37C584.269 104.743 583.195 105.082 581.889 105.385C580.582 105.688 579.124 105.84 577.514 105.84C574.644 105.84 572.275 105.035 570.409 103.425C568.542 101.792 567.609 99.2833 567.609 95.9V85.015H562.709V76.265Z"
                    fill="white"></path>
                <path
                    d="M54.8308 87.2617C54.8308 87.2617 54.0876 133.637 48.3537 134.789C45.3941 135.383 27.0651 131.713 18.1706 123.644C9.83318 116.08 4.92154 86.2383 3.22616 82.2369C-0.277879 73.9668 -1.76439 55.333 7.15484 49.8893C16.0742 44.4458 30.4088 33.7679 33.2757 27.6962C36.1427 21.6245 44.8496 12.4123 51.5391 14.506C58.2286 16.5997 60.777 14.0872 60.777 14.0872C60.777 14.0872 64.4934 8.85301 74.156 6.02652C83.8186 3.20002 100.064 0.164185 107.179 0.164185C114.293 0.164185 138.396 3.40939 143.387 5.71246C148.378 8.01553 154.111 13.1451 154.111 13.1451L155.948 14.6677C155.948 14.6677 156.436 15.9631 159.739 15.1118C163.043 14.2605 171.827 12.447 177.646 20.8116C183.465 29.1762 189.472 36.6895 190.898 37.6889C192.325 38.6882 199.77 44.9692 202.531 46.4871C205.291 48.005 213.414 53.4486 212.246 62.5039C211.078 71.5591 213.52 106.733 207.84 113.171C202.159 119.609 192.496 129.973 192.496 129.973C192.496 129.973 175.135 123.064 169.986 114.061C164.836 105.058 160.164 86.1626 160.164 86.1626C160.164 86.1626 159.102 84.2782 157.562 86.9477C156.023 89.6171 150.023 103.436 150.023 103.436C150.023 103.436 149.174 108.565 149.864 113.276C150.554 117.987 151.457 127.042 149.068 130.549C146.679 134.056 141.741 140.127 137.335 141.75C132.928 143.373 126.557 145.1 126.557 145.1L122.575 147.665C122.575 147.665 118.116 149.811 109.833 149.601C101.551 149.392 97.1445 149.13 96.6136 148.921C96.0827 148.712 92.7379 147.874 91.5699 146.827C90.4019 145.78 78.7749 141.75 78.7749 141.75C78.7749 141.75 66.8825 135.207 65.3959 128.35C63.9094 121.494 65.8737 112.02 65.9799 109.978C66.086 107.937 63.8563 97.0498 61.2017 92.8624C58.5472 88.675 57.4854 82.5509 54.8308 87.2617Z"
                    fill="url(#paint0_linear_104_4)"></path>
                <path
                    d="M77.3193 133.507C82.1651 133.286 88.0262 131.01 91.4996 128.59C109.466 116.074 108.854 112.632 108.854 112.632C118.502 126.557 122.635 130.192 138.737 133.655"
                    stroke="#2B2D42"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                <path
                    d="M108.929 112.854L108.178 91.9056"
                    stroke="#2B2D42"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                <path
                    d="M75.5387 79.4233C71.7764 79.1344 68.3743 77.7749 65.4647 75.3977C64.6928 74.7669 62.7776 72.841 62.2149 72.1295C60.3262 69.7416 59.0762 66.9443 58.4589 63.7244C58.2414 62.5896 58.1226 61.5182 58.0351 59.9009L57.9597 58.5087L57.742 58.4935C57.6222 58.485 57.2609 58.4607 56.9392 58.4394C56.3736 58.4018 56.3462 58.3929 56.1132 58.1699L55.8722 57.9391L55.861 56.4489C55.8501 55.0083 55.8541 54.9511 55.9882 54.7307C56.0644 54.6053 56.1751 54.4824 56.2344 54.4576C56.2935 54.433 56.8281 54.3889 57.4223 54.3599C58.0164 54.331 58.5114 54.2984 58.5221 54.2875C58.5329 54.2769 58.6294 53.9119 58.7368 53.4771C59.2447 51.4202 59.8612 49.8186 60.6854 48.4148C62.5649 45.2134 65.9761 42.7688 70.6202 41.295C72.951 40.5553 74.9515 40.1739 78.1522 39.8591C79.2793 39.7482 85.0982 39.75 86.3972 39.8616C88.2503 40.0209 90.7838 40.3938 92.3398 40.7365L93.1176 40.9077L108.492 40.93L123.866 40.9522L124.721 40.7588C125.667 40.5447 127.451 40.2492 128.742 40.0927C129.204 40.0366 129.778 39.9651 130.018 39.9338C131.741 39.7084 137.75 39.6861 139.601 39.8983C144.674 40.48 147.788 41.3562 150.904 43.0781C153.161 44.3256 154.953 45.9678 156.241 47.9668C157.235 49.5109 157.948 51.2935 158.516 53.6514L158.687 54.3634H160.098H161.51L161.74 54.6033L161.971 54.8433L161.97 56.3911L161.968 57.9389L161.737 58.1921L161.506 58.4452L160.354 58.4769L159.203 58.5087L159.189 59.1415C159.18 59.4896 159.145 60.2443 159.11 60.8186C158.875 64.5865 157.803 67.9342 155.9 70.8492C154.485 73.0163 152.132 75.3119 149.862 76.7409C145.905 79.2325 141.18 80.0523 136.615 79.0392C133.326 78.3094 129.844 76.5315 126.681 73.9676C121.837 70.0409 116.987 64.0956 114.74 59.3314C113.892 57.5331 113.385 55.9856 113.021 54.0788C112.934 53.6262 112.911 53.1624 112.909 51.8215C112.907 50.1357 112.907 50.1335 112.76 49.9744C112.442 49.6308 111.204 49.0989 110.262 48.902C108.45 48.5229 106.243 48.6597 104.797 49.2407C104.09 49.5251 104.085 49.5327 104.206 50.1887C104.349 50.9655 104.349 52.8489 104.205 53.794C103.616 57.6589 101.633 61.6783 98.1006 66.1661C95.7875 69.1051 92.9483 72.0015 90.4122 74.0095C87.1025 76.63 83.6683 78.3454 80.2794 79.071C78.8858 79.3694 76.8276 79.5222 75.5387 79.4233ZM113.804 47.6395C114.521 46.1194 115.643 44.8005 117.255 43.5807L117.934 43.0674L117.691 43.0235C117.37 42.9654 99.4973 42.9681 99.3524 43.0263C99.2633 43.0621 99.4032 43.1945 100.033 43.6705C101.41 44.7115 102.34 45.7628 103.211 47.2643C103.481 47.7311 103.574 47.8445 103.655 47.8082C105.104 47.1617 107.203 46.8232 108.94 46.9561C110.562 47.0802 111.545 47.3368 112.807 47.9654C113.163 48.143 113.464 48.2883 113.476 48.2883C113.488 48.2883 113.636 47.9963 113.804 47.6395Z"
                    fill="#2B2D42"
                    stroke="#2B2D42"
                    stroke-width="3"></path>
                <path
                    d="M108.251 95.5281C111.565 95.5281 114.251 93.9393 114.251 91.9794C114.251 90.0194 111.565 88.4306 108.251 88.4306C104.937 88.4306 102.251 90.0194 102.251 91.9794C102.251 93.9393 104.937 95.5281 108.251 95.5281Z"
                    fill="#2B2D42"></path>
                <defs>
                    <linearGradient
                        id="paint0_linear_104_4"
                        x1="46.0857"
                        y1="20.2289"
                        x2="168.664"
                        y2="124.475"
                        gradientUnits="userSpaceOnUse"
                    >
                        <stop stop-color="#8080FF"></stop>
                        <stop offset="0.49975" stop-color="#C274B8"></stop>
                        <stop offset="1" stop-color="#FC6168"></stop>
                    </linearGradient>
                </defs>
            </svg>
        </a>

        <button class="min-[900px]:hidden" id="buttonOpen">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M4 6l16 0"></path><path d="M4 12l16 0"></path><path
                    d="M4 18l16 0"></path></svg
            >
        </button>

        <ul class="navUl flex flex-col gap-3 right-[-100%] h-screen w-[45%] bg-black top-0 p-6 z-30 fixed 
            min-[900px]:flex-row min-[900px]:bg-transparent min-[900px]:mx-auto min-[900px]:p-0 min-[900px]:justify-end min-[900px]:right-auto min-[900px]:items-center min-[900px]:h-full min-[900px]:w-[100%] min-[900px]:relative">
            <li class="flex justify-end items-end min-[900px]:hidden">
                <button id="buttonClose">
                    <svg
                        class="bg-black"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-x"
                        ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                        ></path><path d="M18 6l-12 12"></path><path
                            d="M6 6l12 12"></path></svg
                    >
                </button>
            </li>
            <li><LinkButtonHeader href="#sobremi">Sobre mí</LinkButtonHeader></li>
            <li><LinkButtonHeader href="#experiencias">Experiencias</LinkButtonHeader></li>
            <li><LinkButtonHeader href="#proyectos">Proyectos</LinkButtonHeader></li>
        </ul>
    </nav>
</header>

<script>
    const buttonClose = document.getElementById("buttonClose");
    const buttonOpen = document.getElementById("buttonOpen")
    const navUl = document.querySelector(".navUl");

    buttonClose?.addEventListener("click", () => {
        navUl?.classList.add("right-[-100%]");
    });

    buttonOpen?.addEventListener("click",()=>{
        navUl?.classList.add("right-0")
        navUl?.classList.remove("right-[-100%]");
    })

</script>


<style>
    li{
        background-color: black;
    }
</style>