---
import LinkButtonHeader from "./LinkButtonHeader.astro";
---

<header class="fixed top-0 w-[100%] z-20">
    <nav class="flex mt-9 justify-center items-center mx-auto">        
        <ul class="flex gap-3 z-30 fixed px-4 py-2">
            <li><LinkButtonHeader href="#intro" ariaLabel="intro">Intro</LinkButtonHeader></li>
            <li><LinkButtonHeader href="#experiencia" ariaLabel="experiencia">Experiencia</LinkButtonHeader></li>
            <li><LinkButtonHeader href="#proyectos" ariaLabel="proyectos">Proyectos</LinkButtonHeader></li>
            <li><LinkButtonHeader href="#sobremi" ariaLabel="sobremi">Sobre mí</LinkButtonHeader></li>
        </ul>
    </nav>
</header>

<style>
    ul{
        background: rgba(80, 80, 80, 0.25);
        backdrop-filter: blur( 20px );
        -webkit-backdrop-filter: blur( 20px );
        border-radius: 100px;
        border: 1px solid #4e4e4eee;
    }
</style>