---
import { Image } from "astro:assets";
import imagePerro from "../assets/Group 6.png"
---

<div class="imgContainer flex justify-center items-center w-[250px]">
    <div class="bgImg bg-white h-[250px] w-[250px] absolute max-sm:w-[120px] max-sm:h-[120px]"></div>
    <Image class="z-10 max-sm:w-[120px] max-sm:[120px]" src={imagePerro} alt="adsad" />
</div>


<style>
    .bgImg{
        background-image: linear-gradient( -45deg, #8D3F43 40%, #857FFA 40% );
        filter: blur(50px);
        border-radius: 100%;
    }

    img{
        background-color: transparent;
    }
</style>