---
interface Props {
    href:string
}

const { href } = Astro.props
---

<a href={href} class="text-sm p-1 border-b-2 border-transparent min-[400px]:text-base hover:text-[#FC6168] transition-all duration-150">
    <slot/>
</a>