---
import ContainerLinks from "./ContainerLinks.astro"
import ContentResume from "./ContentResume.astro"
import ImgPerro from "./ImgPerro.astro"
---

<section id="intro" class="flex justify-around items-center h-screen max-md:h-[100vh] max-lg:h-[50vh] max-lg:flex-col-reverse max-lg:justify-center max-[768px]:gap-3">
    <div class="">
       <ContentResume/> 
       <ContainerLinks/>
    </div>
    <ImgPerro/>
</section>
