---
import Aprendiendo from "./Aprendiendo.astro";
import Backend from "./Backend.astro";
import Frontend from "./Frontend.astro";
import Herramientas from "./Herramientas.astro";
import RedireccionProyecto from "./RedireccionProyecto.astro";
import Tecnologias from "./Tecnologias.astro";
import TecnologiasProyecto from "./TecnologiasProyecto.astro";

const contenido = [
    {
        name:"Sistema gestor de archivos con Golang para linux",
        descripcion:"Proyecto que se llevará a cabo con el fin de ampliar el conocimiento sobre el funcionamiento de la gestión de archivos del sistema operativo Linux, del mismo modo poner en práctica las habilidades aprendidas sobre el lenguaje de programación Go y sus librerías para la creación de aplicaciones de CLI con cobra. Finalmente se le integrará la api de Github para realizar operaciones sin necesidad de teclear los comandos.",
        completado:false,
        href:"https://github.com/AlexxScript/gestorgolang.git"
    }
]

---

<section id="proyectos">
    <h2 class="my-3 font-semibold text-3xl flex items-center gap-2">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="30"  height="30"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-code"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 8l-4 4l4 4" /><path d="M17 8l4 4l-4 4" /><path d="M14 4l-4 16" /></svg>
        Proyectos y tecnologías.
    </h2>
    <article>
        <p class="text-gray-400">Aquí podrás consultar algunos proyectos personales que he realizado y realizaré para practicar así mismo explorar las tecnologías emergentes ademas se 
            demuestra la intención de seguir aprendiendo y explorar nuevas tecnologías y herramientas.</p>
        <ul class="my-5">
            {
                contenido.map(el=>(
                    <li class="p-5">
                        <h3 class="text-xl font-semibold text-[#fc6068]">{ el.name }</h3>
                        <p>{ el.descripcion }</p>
                        <div class="flex flex-col lg:flex-row gap-3 my-3">
                            <p class={`text-center text-sm p-2 border-2 rounded-full ${el.completado ? "bg-[#20ae54b0] border-[#30bc61]" : "bg-[#3b83f68c] border-[#3e86f8]"} `}>
                                { el.completado ? "Completado" : "En desarrollo" }
                            </p>
                            <a href={el.href} target="_blank" class="flex p-2 justify-center items-center gap-2 rounded-full bg-[#424242aa] hover:bg-[#4e4e4e55] transition-all duration-100 text-sm border-2">
                                Respositorio del proyecto
                                <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" /></svg>
                            </a>
                        </div>
                    </li>  
                ))
            }
        </ul>
    </article>
   <Tecnologias/> 
</section>

<style>
    li{
        background: rgba(83, 83, 83, 0.25);
        backdrop-filter: blur( 14.5px );
        border-radius: 10px;
        border: 1px solid #fc6067aa;
    }
</style>