---
import Aprendiendo from "./Aprendiendo.astro";
import Backend from "./Backend.astro";
import Frontend from "./Frontend.astro";
import Herramientas from "./Herramientas.astro";
import RedireccionProyecto from "./RedireccionProyecto.astro";
import TecnologiasProyecto from "./TecnologiasProyecto.astro";
---

<section id="proyectos">
    <h2 class="my-3 font-semibold text-3xl flex items-center gap-2">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-code"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 8l-4 4l4 4" /><path d="M17 8l4 4l-4 4" /><path d="M14 4l-4 16" /></svg>
        Proyectos y tecnologías.
    </h2>
    <div>
        <p>Aquí podrás consultar algunos proyectos personales que he realizado y realizaré para practicar así mismo explorar las tecnologías emergentes ademas se 
            demuestra la intención de seguir aprendiendo y explorar nuevas tecnologías y herramientas.</p>
        <ul class="my-5">
            <li class="p-5">
                <h3 class="text-xl font-semibold text-[#fc6068]">Sistema de administración escolar.</h3>
                <p>
                    Proyecto que se llevará a cabo con el objetivo de practicar las tecnologías de Laravel con VueJS utilizando Inertia,
                    Sail para trabajar con entornos de desarrollo basados en docker para ejecutar aplicaciones de Laravel, Seeders Laravel,
                    autenticación y autorización con Laravel, uso de su ORM Eloquent y migraciones.
                </p>
                <div class="flex flex-col lg:flex-row gap-3 my-3">
                    <p class="text-center text-sm p-2 border rounded-full bg-[#20ae54b0] border-[#30bc61]">
                        En desarrollo
                    </p>
                    <a href="https://github.com/AlexxScript/SS" class="flex p-2 justify-center items-center gap-2 rounded-full bg-[#4e4e4eaa] text-sm border">
                        Respositorio del proyecto
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" /></svg>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="py-4">
        <h3 class="text-3xl font-semibold flex items-center gap-3">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="30"  height="30"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-code-dots"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 12h.01" /><path d="M12 12h.01" /><path d="M9 12h.01" /><path d="M6 19a2 2 0 0 1 -2 -2v-4l-1 -1l1 -1v-4a2 2 0 0 1 2 -2" /><path d="M18 19a2 2 0 0 0 2 -2v-4l1 -1l-1 -1v-4a2 2 0 0 0 -2 -2" /></svg>
            Tecnologías
        </h3>
        <p>Listado de las tecnologías con las que he trabajado, he realizado proyectos y he practicado.</p>
        <div class="flex flex-col ">
            <div class="flex justify-center items-center gap-5 flex-wrap">
                <Frontend />
                <Backend/>
            </div>
            <div class="flex justify-center gap-5 flex-wrap">
                <Aprendiendo/> 
                <Herramientas/>
            </div>
           
        </div>
    </div>
</section>

<style>
    li{
        background: rgba(83, 83, 83, 0.25);
        backdrop-filter: blur( 14.5px );
        border-radius: 10px;
        border: 1px solid #fc6067aa;
    }
</style>